body{
    background-color:  rgb(255, 255, 255);
}
div{
    padding: 5px;
}

.f1{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(74, 155, 74);
    border: 15px rgb(165, 70, 70) solid;
    padding: 50px ;
    border-radius: 10px;

    
}

.name {
    margin-top: 3px;

    
    

}


.from {
    width: 75%;
    margin: 0 auto;
    font-weight: 900;
    


}
.note{
    margin-top: 50px;

    background-color: rgb(67, 175, 67);
    width: 80%;

    border: rgb(192, 47, 47) solid 10px;
    border-radius: 10px;
    
}

.button {
    margin-top: 12px;
    margin-bottom: 12px;
}

.submit {

    border: solid rgb(70, 165, 75)  ;
    background-color: rgb(43, 255, 0);
    padding: 11px;
    border-radius: 21px;
    cursor: pointer;
    margin-right: 230px;
    
}

.submit:hover {
    /* background-color: black; */
    padding-left: 15px;
    padding-right: 15px;
}
    


.reset {
    border: solid rgb(165, 70, 70)  ;
    background-color: red;
    padding: 11px;
    border-radius: 21px;
    cursor: pointer;
}
